@page "{fileId:int}"
@model Azure_FileExplorerApp.Pages.Files.FilesDeleteModel

@{
    ViewData["Title"] = "Видалити файл";
}

<h1 class="text-center mt-5">Видалити файл</h1>

<p class="text-center mt-5">Ви дійсно хочете видалити файл "<strong>@Model.FileMetadata.FileName</strong>"?</p>

<form method="post" class="text-center mt-3">
    <a asp-page="/Files/Index" asp-route-folderId="@Model.FolderId" class="btn btn-secondary btn-sm mt-3 me-2">На головну</a>
    <button type="submit" class="btn btn-danger btn-sm mt-3 me-2">Видалити</button>
</form>
