@page "{folderId:int}"
@model Azure_FileExplorerApp.Pages.Folders.FoldersDeleteModel

@{
    ViewData["Title"] = "Видалити папку";
}

<h1 class="text-center mt-5">Видалити папку</h1>

<p class="text-center mt-5">Ви дійсно хочете видалити папку "<strong>@Model.Folder.Name</strong>" і всі файли, що в ній знаходяться?</p>

<form method="post" class="text-center">
    <a asp-page="/Folders/Index" class="btn btn-secondary btn-sm mt-3 me-2">Назад</a>
    <button type="submit" class="btn btn-danger btn-sm mt-3 me-2">Видалити</button>
</form>
