@page "{folderId:int}"
@model Azure_FileExplorerApp.Pages.Folders.FoldersEditModel
@{
    ViewData["Title"] = "Редагування папки";
}

<h1 class="text-center mt-5">Редагувати папку</h1>

<form method="post" class="text-center mt-5">
    <div class="form-group">
        <label asp-for="FolderName" class="control-label"></label>
        <input asp-for="FolderName" class="form-control mt-3" />
        <span asp-validation-for="FolderName" class="text-danger"></span>
    </div>
   
    <a asp-page="/Folders/Index" class="btn btn-secondary btn-sm mt-5 me-2">На головну</a>
    <button type="submit" class="btn btn-primary btn-sm mt-5 me-2">Зберегти</button>
</form>
