@page
@model Azure_FileExplorerApp.Pages.Folders.FoldersIndexModel

@{
    ViewData["Title"] = "Папки";
}

<h1>Файловий провідник</h1>

<p>
    <a asp-page="/Folders/Create" class="btn btn-primary">Створити нову папку</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Назва</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var folder in Model.Folders)
    {
        <tr>
            <td>@folder.Name</td>
            <td>
                <a asp-page="/Files/Index" asp-route-folderId="@folder.Id" class="btn btn-info">Переглянути файли</a> |
                <a asp-page="/Folders/Edit" asp-route-folderId="@folder.Id" class="btn btn-warning">Редагувати</a> |
                <a asp-page="/Folders/Delete" asp-route-folderId="@folder.Id" class="btn btn-danger">Видалити</a>
            </td>
        </tr>
    }
    </tbody>
</table>


