@page
@model Azure_FileExplorerApp.Pages.Account.LogoutModel
@{
}

<h1 class="text-center mt-5">Вихід</h1>

<form method="post" class="text-center mt-5">
    <p>Ви впевнені, що хочете вийти?</p>
  
    <a asp-page="/Index" class="btn btn-secondary btn-sm me-2">Скасувати</a>
    <button type="submit" class="btn btn-primary btn-sm me-2">Вийти</button>
</form>